h1, h2 {
    color: $secondary;
  }
    
  main {
    background-color: $primary;
    padding: 3rem;
  }
  
  #user-commands {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    div {
      display: flex;
      align-items: center;
    }
  }
  
  select {
    background-color: black;
    color: $secondary;
    border-color: $light;
    padding: 0.33rem 0.66rem;
  }
  
  #user-commands button {
    background-color: $primary;
    border-color: $light;
    color: $secondary;
    padding: 0.166666rem 0.833333rem;
  }
  